<div class="container">
  <div class="header">
    <h1>Survey Invitation</h1>
  </div>
  <div class="content">
    <p>You have been invited to participate in the survey: <strong><%= @survey.title %></strong></p>
    <p>Description: <%= @survey.description %></p>
    <a href="<%= @url %>" class="button">Take the Survey</a>
  </div>
  <div class="footer">
    <p>Thank you for your participation!</p>
  </div>
</div>